{% extends "layout.njk" %}

{% block content %}

  <div class="card">

    <section class="avatar"></section>

    <section class="details">
      <h3>Edit Instructor:</h3>
      <form method="POST" action="/instructors?_method=PUT">
        {% include 'instructors/shared/fields.njk' %}
        <input type="hidden" name="id" value="{{instructor.id}}">
      </form>

      <form class="form-delete" action="/instructors?_method=DELETE" method="post">
        <input type="hidden" name="id" value="{{instructor.id}}">
        <button type="submit">Remove</button>
      </form>
    </section>

  </div>

{% endblock content %}