{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <table>
      <thead>
        <tr>
          <th>Instructor</th>
          <th>Specialty</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for instructor in instructors %}
          <tr>
            <td>
              <span style="background-image: url({{ instructor.avatar_url }})"></span>
              <p>{{ instructor.name }}</p>
            </td>
            <td>
              <p>
                {{ instructor.services }}
              </p>
            </td>
            <td>
              <a href="/instructors/{{ instructor.id }}">VIEW</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}